*
{
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Ubuntu";
}

body
{
  background-color: rgb(41, 41, 41);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  color: white;
}

.killua-body
{
  transition: 4s;
  background-image: url('images/wallpapers/killua-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.gon-body
{
  transition: 4s;
  background-image: url('images/wallpapers/gon-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.main
{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.wrapper
{
    opacity: 0%;
    grid-area: inner-div;
}

.container
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container h1
{
    font-size: 3em;
}

.player-title
{
  cursor: default;
}

.button
{
    transition: 1s;
    color: white;
    border-style: none;
    background-color: #E67300;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: 1em;
}

.buttonHover
{
    transition: 1s;
    color: white;
    border-style: none;
    background-color: #E67300;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    border-radius: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
}

#select
{
    transition: 0.2s;
    display: none;
}

.player-wrapper
{
  transition: 0.25s;
  
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-basis: 15em;
  justify-content: center;
  text-align: center;
  gap: 1em;
  margin: 2em 0 0 0;
  cursor: default;
}

.player-wrapper-hover
{
    transition: 0.25s;
  
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-basis: 15em;
    justify-content: center;
    text-align: center;
    gap: 1em;
    margin: 3em 0 0 0;
    cursor: default;
}

.player-choice
{
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    border-radius: 0.5em;
}

.player-choice-hover
{
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    background-color: #171717;
    border-radius: 0.5em;
    margin: 0.5em;
}

.player-wrapper img
{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.player-choice
{
  cursor: pointer;
}

.player-img
{
 width: 100%;
 height: 45%;
}

.player-header
{
  margin-top: 0.5em;
  font-size: 1.5em;
}

#versus
{
    transition: 2s;
    display: none;
}

#versus-container
{
    flex-direction: row;
}

.villain-container
{
    height: 3.5em;
}

.villain-list
{
    /* original top pos: -1.5em */
    position: relative;
    top: -1.5em;
    margin-left: 0.5em;
}

.choices-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  margin: 4em auto 1em;
  padding: 4em;
  cursor: pointer;
}

.message
{
  margin: 1em;
  font-size: 1em;
  font-style: italic;
}

.choice
{
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: rgb(34, 34, 34);
  padding: 2em;
  border-radius: 1em;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
}


.battle-info
{
  display: flex;
  width: 55%;
  flex-direction: row;
  background-color: rgb(27, 27, 27);
  border-radius: 1em;
}

#battle
{
  transition: 2s;
  display: none;
}

.icon-container
{
  background-image: url("images/avatars/killua.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  padding: 3em;
}

.hi
{
  padding: 1em;
  width: 100%;
}

.hi h1
{
  font-size: 2.25em;
}

.hi p
{
  margin: 1em 0 0.25em;
}

.health-bar
{
  background-color: rgb(44, 44, 44);
  width: 100%;
  height: 1em;
}

.health 
{
  transition: 2s;
  background-color: green;
  width: 100%;
  height: 100%;
}

.fadeIn
{
  transition: 1s;
  opacity: 100%;
}

.fadeOut
{
  transition: 1s;
  opacity: 0%;
}